
<section id="gallery">
  <div class="panel">
    <div class="bg"></div>
    <div class="pics owl-carousel owl-theme">
      <div class="pic item"><img src="assets/img/gallery/1.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/2.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/3.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/4.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/5.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/6.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/7.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/8.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/9.jpg" alt="alt"/></div>
      <div class="pic item"><img src="assets/img/gallery/10.jpg" alt="alt"/></div>
    </div>
    <div id="close"><i class="fas fa-times"></i></div>
  </div>
</section>