section#news
    .news.owl-carousel.owl-theme
        .new.item
            p.imp new 1
        .new.item
            p new 2
        .new.item
            p new 3
        .new.item
            p.imp new 4
        .new.item
            p new 5
    
    .bell
        i.fas.fa-bell