
<section id="welcome">
  <div class="flex" id="bg-accent">
    <div class="content">
      <div class="msg">
        <div class="title">
          <p>Welcome</p>
        </div>
        <div class="sub-title">
          <p>Lorem ipsum dolor sit</p>
        </div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet,consectetur adipisicing elit,
            sed do eiusmod tempor incididun
            ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididun
            ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididun
            ut labore et dolore magna aliqua.
            sed do eiusmod tempor incididun
            ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="more"><a href="">[ Learn More ]</a></div>
      </div>
    </div>
  </div>
  <div class="flex" id="bg-img">
    <div class="content">
      <ul>
        <li>
          <p>Lorem ipsum dolor sit amet</p>
        </li>
        <li>
          <p>Lorem ipsum dolor</p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit</p>
        </li>
        <li>
          <p>Lorem ipsum dolo</p>
        </li>
        <li>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet</p>
        </li>
        <li>
          <p>Lorem ip</p>
        </li>
        <li>
          <p>Lorem ipsum dolor amet</p>
        </li>
        <li>
          <p>Lorem ipsum do</p>
        </li>
      </ul>
    </div>
  </div>
</section>