section#welcome
    .flex#bg-accent
        .content
            .msg
                .title: p Welcome
                .sub-title: p Lorem ipsum dolor sit
                .desc: p Lorem ipsum dolor sit amet,
                        |consectetur adipisicing elit,
                        |sed do eiusmod tempor incididun
                        |ut labore et dolore magna aliqua.
                        |Lorem ipsum dolor sit amet,
                        |consectetur adipisicing elit,
                        |sed do eiusmod tempor incididun
                        |ut labore et dolore magna aliqua.
                        |Lorem ipsum dolor sit amet,
                        |consectetur adipisicing elit,
                        |sed do eiusmod tempor incididun
                        |ut labore et dolore magna aliqua.
                        |sed do eiusmod tempor incididun
                        |ut labore et dolore magna aliqua.
                
                .more: a(href="") [ Learn More ]

    .flex#bg-img
        .content
            ul
                li: p Lorem ipsum dolor sit amet
                li: p Lorem ipsum dolor
                li: p Lorem ipsum dolor sit
                li: p Lorem ipsum dolo
                li: p Lorem ipsum
                li: p Lorem ipsum dolor sit amet
                li: p Lorem ip
                li: p Lorem ipsum dolor amet
                li: p Lorem ipsum do