section#testimonials
    .title
        p testimonials

    .name
        p John Doe

    .desc
        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
        p.more_desc
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .more: p [ Show More ]

    .location
        p United states

    .more: a(href="") [ More Ttestimonials ]

    