
<section id="testimonials">
  <div class="title">
    <p>testimonials</p>
  </div>
  <div class="name">
    <p>John Doe</p>
  </div>
  <div class="desc">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="more_desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="more">
      <p>[ Show More ]</p>
    </div>
  </div>
  <div class="location">
    <p>United states</p>
  </div>
  <div class="more"><a href="">[ More Ttestimonials ]</a></div>
</section>