
<section id="home">
  <div class="posts owl-carousel owl-theme">
    <div class="post item">
      <div class="title">
        <p>Basket</p>
      </div>
      <div class="sep"></div>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="btn main" id="join">
        <button>Join Now</button>
      </div>
    </div>
    <div class="post item">
      <div class="title">
        <p>Basket</p>
      </div>
      <div class="sep"></div>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="btn main" id="join">
        <button>Join Now</button>
      </div>
    </div>
    <div class="post item">
      <div class="title">
        <p>Basket</p>
      </div>
      <div class="sep"></div>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="btn main" id="join">
        <button>Join Now</button>
      </div>
    </div>
    <div class="post item">
      <div class="title">
        <p>Basket</p>
      </div>
      <div class="sep"></div>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="btn main" id="join">
        <button>Join Now</button>
      </div>
    </div>
  </div>
</section>