section#home
    .posts.owl-carousel.owl-theme
        .post.item
            .title: p Basket
            .sep
            .desc: p Lorem ipsum dolor sit amet
            .btn.main#join
                button Join Now
        .post.item
            .title: p Basket
            .sep
            .desc: p Lorem ipsum dolor sit amet
            .btn.main#join
                button Join Now
        .post.item
            .title: p Basket
            .sep
            .desc: p Lorem ipsum dolor sit amet
            .btn.main#join
                button Join Now
        .post.item
            .title: p Basket
            .sep
            .desc: p Lorem ipsum dolor sit amet
            .btn.main#join
                button Join Now